<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/admin-dashboard">Employee Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="generateUrlForStudents()"
            >View Students</a
          >
        </li>
      </ul>
      <form #searchForm="ngForm" class="d-flex" role="search">
        <button class="btn btn-primary" type="button" (click)="logout()">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>

<div
  style="
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    padding-top: 15rem;
  "
  class="container"
  *ngIf="currentUser"
>
  <h1>Welcome, {{ currentUser?.fullName }} to the {{currentUser?.role}} DASHBOARD</h1>
</div>
